# Dependencies
**/node_modules
**/dist

# Environment Variables
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# IDE files
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
**/build
**/dist

# Local files
server/uploads
server/csd.js
out/linecounter.json
out/linecounter.txt
